.about-us {
  background: @white;
  padding-bottom: 55px;
  font-weight: bold;
  color: @black;
  border: 1px solid red;

  .about-us__wrapper {
    border: 1px solid green;
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
  }

  .about-us__title {
    margin: 0;
    margin-bottom: 85px;
    font-size: 25px;
    line-height: 30px;
  }

  .about-us__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  .about-us__item {
    margin-bottom: 80px;
    font-size: 17px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    .about-us__wrapper {
      width: 768px;
      .indent-tablet();
    }

    .about-us__list {
      display: flex;
      flex-direction: row;
    }
  }

  @media (min-width: 1250px) {
    .about-us__wrapper {
      width: 1250px;
      padding-left: 275px;
      padding-right: 275px;
    }
  }
}
