.contacts {
  background: @white;
  padding-bottom: 38px;

  .contacts__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
  }

  .contacts__map-wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 26px;
    color: @black;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  .contacts__item-wrapper {
    padding-bottom: 6px;
    }

    .contacts__item {
    margin-bottom: 30px;
    color: @dingy;
    font-size: 15px;
    line-height: 30px;
    display: flex;
  }

  .contacts__value {
    text-decoration: none;
    color: @dingy;

    border-bottom: 1px solid @aqua-elem;
    margin-left: 22px;
  }

  .contacts__value--addres {
    padding-bottom: 0;
    border-bottom: none;

  }

  .contacts__picture {
    margin-bottom: 35px;
  }

  .contacts__write {
    text-transform: uppercase;
    text-decoration: none;
    color: @dingy;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .contacts {
    padding-bottom: 57px;

    .contacts__wrapper {
      width: 768px;
      .indent-tablet();
    }

    .contacts__title {
      font-size: 43px;
      line-height: 50px;
      margin-left: -6px;
    }

    .contacts__item {
      display: flex;
      margin-bottom: auto;
      font-size: 17px;
      width: 290px;

      &--adds {
        margin-right: 44px;
      }
    }

    .contacts__item-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 49px;
      margin-left: 1px;
      padding-bottom: 56px;
    }

    .contacts__value {
      margin-left: 23px;

      &--addres {
        margin-left: 25px;
        margin-right: -10px;
      }
    }

    .contacts__map-wrapper {
      width: 768px;
      margin: 0 auto;
      margin-bottom: 16px;
    }

    .contacts__picture {
      width: 768px;
      height: 457px;
    }

    .contacts__write {
      width: 219px;
      margin: 0 auto;
      font-size: 17px;
      padding-right: 7px;
    }
  }
}

@media (min-width: 1250px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 51px;

    .contacts__wrapper {
      width: 321px;
      margin: 0;
      padding: 0;
      margin-left: 307px;
    }

    .contacts__map-wrapper {
      width: 628px;
      margin-top: -70px;
    }

    .contacts__title {
      font-size: 53px;
      line-height: 57px;
      margin-left: -23px;
    }

    .contacts__item-wrapper {
      margin-left: -17px;
      flex-direction: column;
    }

    .contacts__item {
      margin-left: -2px;

      &--adds {
        margin-top: 29px;
      }
    }

    .contacts__picture {
      width: 525px;
      height: 457px;
    }

    .contacts__write {
      padding-right: 5px;
      padding-left: 4px;
      margin-left: -19px;
      margin-top: -107px;
    }
  }
}
