.contacts {
  background: @white;
  .indent();
  margin-bottom: 38px;

  .contacts__title {
    margin: 0;
    margin-bottom: 40px;
    color: @black;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  .contacts__item {
    margin-bottom: 40px;
    color: @dingy;
    font-size: 15px;
    line-height: 30px;
  }

  .contacts__value {
    text-decoration: none;
    color: @dingy;
    padding-bottom: 4px;
    margin-left: 25px;
    border-bottom: 1px solid @aqua-elem;
  }

  .contacts__value--addres {
    padding-bottom: 0;
    border-bottom: none;
    width: 145px;
  }

  .contacts__picture {
    margin-left: -30px;
    margin-bottom: 38px;
  }

  .contacts__write {
    text-transform: uppercase;
    text-decoration: none;
    color: @dingy;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }
}
