.copyright {
  padding-bottom: 17px;
  padding-top: 27px;
  padding-left: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 205px;
  display: flex;
  justify-content: space-between;

  .copyright__link {
    color: @black;
    font-size: 0;
    display: inline-block;
    width: 50px;
    height: 40px;
    fill: @aqua-text;
    margin-left: 29px;
    margin-top: -5px;

    &:hover {
      fill: @email-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .copyright__text {
    color: @black;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .copyright {
    margin-top: 22px;
    padding-left: 40px;
    padding-top: 40px;
  }
}

@media (min-width: 1250px) {
  .copyright {
    padding-left: 102px;
    margin-top: 23px;
  }
}
