.relations {
  .relations__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-weight: bold;
    font-size: 17px;
  }

  .relations__tel {
    line-height: 18px;
    color: @dingy;
  }

  .relations__email {
    line-height: 18px;
    color: @dingy;
  }
}
