.relations {
  padding-bottom: 32px;

  .relations__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    padding-left: 29px;
  }

  .relations__tel-wrapper {
    margin-bottom: 46px;
  }

  .relations__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 21px;
  }

  .relations__tel {
    line-height: 18px;
    color: @dingy;
    margin-left: -2px;
  }

  .relations__email {
    line-height: 18px;
    color: @dingy;
    margin-left: -2px;
  }
}

@media (min-width: 768px) {
  .relations {
    .relations__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
      flex-direction: column;
    }

    .relations__tel-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .relations__email-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .relations__tel {
      width: 500px;
    }

    .relations__email {
      width: 500px;
    }
  }
}

@media (min-width: 1250px) {
  .relations{
    .relations__wrapper {
      width: 1250px;
      .indent-desktop();
    }

    .relations__tel-wrapper {
      justify-content: flex-start;
    }

    .relations__email-wrapper {
      justify-content: flex-start;
    }

    .relations__tel {
      width: 700px;
      margin-left: 58px;
    }

    .relations__email {
      width: 700px;
      margin-left: 34px;
    }
  }
}
