.color {
  font-weight: bold;
  padding-bottom: 12px;

  .color__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    padding-left: 29px;
  }

  .color__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-size: 17px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 198px;
      height: 1px;
      background-color:@aqua-elem;
      top: 9px;
      left: 62px;
    }
  }

  .color__list {
    list-style: none;
    margin-left: 23px;
    margin-top: 36px;
  }

  .color__item {
    line-height: 18px;

    &:not(:last-child) {
      margin-bottom: 43px;
    }
  }
}

@media (min-width: 768px) {
  .color {
    padding-bottom: 9px;
    margin-top: 29px;

    .color__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
    }

    .color__title {
      margin-top: 36px;
      &::after {
        display: none;
      }
    }

    .color__list {
      display: flex;
      flex-wrap: wrap;
      margin-left: 145px;
      margin-top: 34px;
    }

    .color__item {
      font-size: 19px;
      margin-bottom: 44px;

      &--grey {
        margin-left: 179px;
        margin-bottom: 44px;
      }

      &--tiffany {
        margin-top: 15px;
      }

      &--black {
        margin-top: 14px;
        margin-left: 130px;
      }

      &--pink {
        margin-top: 15px;
      }

      &--orange {
        margin-top: 15px;
        margin-left: 157px;
      }
    }
  }
}

@media (min-width: 1250px) {
  .color {
    margin-top: 27px;

    .color__wrapper {
      width: 1250px;
      .indent-desktop();
    }

    .color__title {
      margin-left: 60px;
    }

    .color__list {
      margin-left: 94px;
      padding-right: 133px;
    }

    .color__item {
      &--tiffany {
        margin-top: 0;
        margin-left: 182px;
      }

      &--black {
        margin-top: 15px;
        margin-left: 0;
      }

      &--pink {
        margin-left: 165px;
      }

      &--orange {
        margin-left: 159px;
      }
    }
  }
}
