.type {
  font-weight: bold;
  padding-bottom: 6px;

  .type__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    margin-top: 24px;
    padding-left: 29px;
  }

  .type__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-size: 17px;
  }

  .type__list {
    list-style: none;
    margin-left: 6px;
    margin-top: 34px;
  }

  .type__item {
    line-height: 18px;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
    .type {
      .type__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
    }
  }
}

@media (min-width: 1250px) {
  .type {
    .type__wrapper {
      width: 1250px;
      .indent-desktop();
    }
  }
}
