.form {
  font-size: 17px;
  line-height: 16px;

  .form__legend {
    font-size: 14px;
    color: @dingy;
  }

  .form__order {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    color: @dingy;
  }
}
