.user {
  padding-bottom: 32px;

  .user__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    padding-left: 28px;
  }

  .user__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-weight: bold;
    font-size: 17px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 198px;
      height: 1px;
      background-color:@aqua-elem;
      top: 8px;
      left: 63px;
    }
  }

  .user__fields {
    padding-top: 14px;
  }

  .user__name-text {
    font-weight: bold;
    line-height: 18px;
  }

  .user__name-value {
    width: 260px;
    color: @dingy;
    margin-top: 14px;
    margin-left: 1px;
    margin-bottom: 22px;
    padding-bottom: 15px;
    padding-top: 3px;
    border: none;
    border-bottom: 2px solid @black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;

    &::-webkit-input-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &::-moz-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:-ms-input-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:-moz-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:hover,
    &:focus {
      border-color: @aqua-elem;
    }
  }

  .user__surname-text {
    font-weight: bold;
    line-height: 18px;
  }

  .user__surname-value {
    width: 260px;
    color: @dingy;
    margin-top: 14px;
    margin-left: 1px;
    margin-bottom: 22px;
    padding-bottom: 15px;
    padding-top: 3px;
    border: none;
    border-bottom: 2px solid @black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;

    &::-webkit-input-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &::-moz-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:-ms-input-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:-moz-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:hover,
    &:focus {
      border-color: @aqua-elem;
    }
  }

  .user__patronymic-text {
    font-weight: bold;
    line-height: 18px;
  }

  .user__patronymic-value {
    width: 260px;
    color: @dingy;
    margin-top: 14px;
    margin-left: 1px;
    margin-bottom: -15px;
    padding-bottom: 15px;
    padding-top: 3px;
    border: none;
    border-bottom: 2px solid @black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;

    &::-webkit-input-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &::-moz-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:-ms-input-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:-moz-placeholder {
      color: rgba(68, 68, 68, 0.3);
    }

    &:hover,
    &:focus {
      border-color: @aqua-elem;
    }
  }
}

@media (min-width: 768px) {
  .user {
    margin-top: 21px;
    padding-bottom: 50px;

    .user__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
      justify-content: space-between;
    }

    .user__title {
      margin-top: 45px;

      &::after {
        display: none;
      }
    }

    .user__fields {
      display: flex;
      flex-direction: column;
      font-size: 19px;
    }

    .user__name {
      display: flex;
      justify-content: space-between;
      margin-top: 29px;
    }

    .user__name-value {
      width: 411px;
      margin-left: 24px;
      margin-top: -15px;
      margin-bottom: 0;
      height: 48px;
      padding-left: 17px;
      padding-bottom: 0;
      font-size: 19px;
    }

    .user__surname {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .user__surname-text {
      margin-top: -12px;
    }

    .user__surname-value {
      width: 359px;
      margin-top: 23px;
      margin-bottom: 33px;
      height: 48px;
      padding-left: 16px;
      padding-bottom: 0;
      font-size: 19px;
    }

    .user__patronymic {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .user__patronymic-text {
      margin-top: -12px;
    }

    .user__patronymic-value {
      width: 359px;
      height: 48px;
      margin-top: -10px;
      margin-bottom: 0px;
      padding-left: 16px;
      padding-bottom: 0;
      font-size: 19px;
    }
  }
}

@media (min-width: 1250px) {
  .user {
    .user__wrapper {
      width: 1250px;
      .indent-desktop();
      justify-content: flex-start;
    }

    .user__title {
      margin-left: 61px;
    }

    .user__fields {
      margin-left: 73px;
    }

    .user__name-value {
      width: 609px;
      margin-bottom: 2px;
    }

    .user__surname-value {
      width: 557px;
    }

    .user__patronymic-value {
      width: 557px;
    }
  }
}
