.type {
  font-weight: bold;

  .type__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-size: 17px;
  }

  .type__list {
    list-style: none;
  }

  .type__item {
    line-height: 18px;
  }
}
