.relations {
  padding-bottom: 33px;

  .relations__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    padding-left: 29px;
  }

  .relations__tel-wrapper {
    margin-bottom: 47px;
    position: relative;
  }

  .relations__email-wrapper {
    position: relative;
  }

  .relations__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 21px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 198px;
      height: 1px;
      background-color: @aqua-elem;
      top: 9px;
      left: 62px;
    }

    &--email {
      &::after {
        width: 179px;
        left: 81px;
      }
    }
  }

  .relations__tel {
    width: 260px;
    color: @dingy;
    margin-bottom: -15px;
    padding-bottom: 15px;
    padding-top: 3px;
    border: none;
    border-bottom: 2px solid @black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    position: relative;

    &--phone {
      width: 25px;
      height: 25px;
      border: none;
      position: absolute;
      top: 31px;
      left: 227px;
      opacity: 0.2;
    }
  }

  .relations__email {
    width: 260px;
    color: @dingy;
    margin-bottom: -15px;
    padding-bottom: 15px;
    padding-top: 3px;
    border: none;
    border-bottom: 2px solid @black;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;

    &--mail {
      width: 32px;
      height: 32px;
      border: none;
      position: absolute;
      top: 31px;
      left: 225px;
      opacity: 0.2;
    }
  }

  .relations__tel {
    &:hover {
      border-color: @aqua-elem;

      +.relations__tel--phone {
        fill: @aqua-elem;
        opacity: 1;
      }
    }
  }

  .relations__email {
    &:hover {
      border-color: @aqua-elem;

      +.relations__email--mail {
        color: @aqua-elem;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 768px) {
  .relations {
    padding-bottom: 40px;
    padding-top: 49px;

    .relations__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
      flex-direction: column;
    }

    .relations__tel-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .relations__email-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .relations__title {
      margin-top: 18px;
      margin-bottom: 17px;

      &::after {
        display: none;
      }

      &--email {
        margin-top: -5px;
        margin-bottom: 30px;
      }
    }

    .relations__tel {
      width: 483px;
      border: none;
      border-bottom: 2px solid #000000;
      margin-top: -1px;
      margin-bottom: -2px;
      height: 48px;
      padding-left: 16px;
      margin-right: 3px;
      font-size: 19px;
      background: @smoky;
      padding-bottom: 2px;

      &--phone {
        border: none;
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 0;
        top: 12px;
        left: 615px;
      }
    }

    .relations__email {
      width: 483px;
      border: none;
      border-bottom: 2px solid #000000;
      margin-top: -24px;
      height: 48px;
      padding-left: 17px;
      margin-right: 2px;
      font-size: 19px;
      background: @smoky;
      padding-bottom: 1px;

      &--mail {
        border: none;
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0;
        top: -10px;
        left: 613px;
      }

    }
  }
}

@media (min-width: 1250px) {
  .relations{
    .relations__wrapper {
      width: 1250px;
      .indent-desktop();
    }

    .relations__title {
      margin-left: 62px;

      &--email {
        margin-bottom: 27px;
        margin-left: 61px;
      }
    }

    .relations__tel-wrapper {
      justify-content: flex-start;
    }

    .relations__email-wrapper {
      justify-content: flex-start;
    }

    .relations__tel {
      width: 683px;
      margin-left: 81px;
      padding-left: 16px;

      &--phone {
        width: 25px;
        height: 25px;
        padding: 0;
        margin: 0;
        left: 843px;
      }
    }

    .relations__email {
      width: 684px;
      margin-left: 56px;
      padding-left: 16px;

      &--mail {
        width: 32px;
        height: 32px;
        padding: 0;
        margin: 0;
        left: 839px;
      }
    }
  }
}
