.color {
  font-weight: bold;

  .color__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-size: 17px;
  }

  .color__list {
    list-style: none;
  }

  .color__item {
    line-height: 18px;
  }
}
