.page-form {
  .page-form__title {
    color: @black;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
  }
}

.intro {
  .intro__text {
    color: @dingy;
    font-size: 13px;
    line-height: 24px;
  }
}

.form {
  font-size: 17px;
  line-height: 16px;

  .form__legend {
    font-size: 14px;
    color: @dingy;
  }

  .form__order {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    color: @dingy;
  }
}

.type {
  font-weight: bold;

  .type__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-size: 17px;
  }

  .type__list {
    list-style: none;
  }

  .type__item {
    line-height: 18px;
  }
}

.color {
  font-weight: bold;

  .color__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-size: 17px;
  }

  .color__list {
    list-style: none;
  }

  .color__item {
    line-height: 18px;
  }
}

.user {
  .user__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-weight: bold;
    font-size: 17px;
  }

  .user__name-text {
    font-weight: bold;
    line-height: 18px;
  }

  .user__name-value {
    line-height: 16px;
    color: @dingy;
  }

  .user__surname-text {
    font-weight: bold;
    line-height: 18px;
  }

  .user__surname-value {
    line-height: 16px;
    color: @dingy;
  }

  .user__patronymic-text {
    font-weight: bold;
    line-height: 18px;
  }

  .user__patronymic-value {
    line-height: 16px;
    color: @dingy;
  }
}

.relations {
  .relations__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-weight: bold;
    font-size: 17px;
  }

  .relations__tel {
    line-height: 18px;
    color: @dingy;
  }

  .relations__email {
    line-height: 18px;
    color: @dingy;
  }
}

.wishes{
  .wishes__title {
    text-transform: uppercase;
    color: @aqua-text;
    font-weight: bold;
    font-size: 17px;
  }

  .wishes__value {
    line-height: 18px;
    color: @dingy;
  }
}
