.form {
  font-size: 17px;
  line-height: 16px;
  padding-bottom: 55px;

  .form__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
  }

  .form__legend {
    font-size: 14px;
    color: @dingy;
    padding-bottom: 1px;
  }

  .form__order {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    margin-top: 33px;
    background: @white;
    padding-left: 44px;
    padding-right: 46px;
  }
}

@media (min-width: 768px) {
  .form {
    padding-bottom: 52px;

    .form__color {
      background: @smoky;
      padding-top: 30px;
    }

    .form__relations {
      background: @smoky;
    }

    .form__wrapper {
      width: 768px;
      padding-left: 50px;
      display: flex;
      justify-content: space-between;
    }

    .form__legend {
      font-size: 17px;
      line-height: 30px;
      margin-top: 48px;
      margin-right: 20px;
    }

    .form__order {
      order: -1;
      margin-top: 39px;
      margin-left: 1px;
      padding-top: 17px;
      padding-left: 28px;
      padding-right: 31px;
    }
  }
}

@media (min-width: 1250px) {
  .form {
    padding-bottom: 50px;

    .form__wrapper {
      width: 1250px;
      padding-left: 189px;
      padding-left: 189px;
      justify-content: space-between;
    }

    .form__legend {
      margin-top: 46px;
      margin-right: 244px;
    }

    .form__order {
      margin-top: 36px;
      margin-left: 87px;
    }
  }
}
