.good {
  border: 1px solid red;

  .good__wrapper{
    border: 1px solid green;
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
  }

  .good__link {
    text-decoration: none;
    color: @black;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }

  .good__text {
    color: @dingy;
    font-size: 13px;
    line-height: 30px;
  }

  .good__price {
    color: @black;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: 768px) {
    .good__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
    }

    .good__description {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 1250px) {
    .good__wrapper {
      width: 315px;

      flex-direction: column;
    }
  }
}
