.modal {
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
  margin-top: 35px;
  position: fixed;
  top: 90px;
  left: 141px;
  background: @white;
  box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, 0.25);
  .modal__wrapper {
  .indent-mobile();
  }

  .modal__title {
    color: @black;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-top: 31px;
    margin-left: 52px;
    margin-right: 53px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
  }

  .modal__close {
    width: 30px;
    height: 30px;
    font-size: 0;
    border: 0;
    background: @white;
    position: absolute;
    top: 2px;
    left: 288px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 2px;
      width: 28px;
      height: 2px;
      background-color: @black;
      cursor: pointer;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .modal__text {
    color: @dingy;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    margin-left: 61px;
    margin-top: -13px;
    margin-bottom: 23px;
  }

  .modal__form {
    margin-left: -2px;
    margin-bottom: 45px;
  }

  .modal__value {
    display: inline-block;
    color: @dingy;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    border: 2px solid @white;
    padding-left: 34px;
    padding-right: 35px;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-bottom: 32px;
    cursor: pointer;

    &--m {
      padding-left: 30px;
      padding-right: 32px;
      margin-left: 3px;
      margin-right: 3px;
    }

    &:hover {
      border: 2px solid @clouded;
    }

    &:active {
      border: 2px solid @aqua-elem;
    }
  }

  .modal__button {
    display: none;
  }

  .modal__add {
    text-transform: uppercase;
    color: @white;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    font-family: "OpenSans", Arial, sans-serif;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 82px;
    padding-right: 83px;
    border: none;
    background-color: @aqua-text;
    cursor: pointer;
  }
}

.modal__button:checked + .modal__value  {
  border: 2px solid @aqua-elem;
}

.modal__closed {
  display: none;
}

@media (min-width: 768px) {
  .modal {
    margin: 0 auto;
    width: 567px;
    box-sizing: border-box;
    border: 1px solid @border;
    padding-bottom: 45px;
    top: 90px;
    left: 275px;

    .modal__close {
      left: 530px;
    }

    .modal__title {
      font-size: 30px;
      line-height: 57px;
      margin-top: 33px;
      margin-left: 55px;
    }

    .modal__text {
      font-size: 17px;
      margin-left: 176px;
      margin-top: -12px;
      margin-bottom: 22px;
    }

    .modal__form {
      margin-left: 77px;
    }

    .modal__value {
      padding-left: 49px;
      padding-right: 50px;
      padding-bottom: 16px;
      margin-bottom: 31px;

      &--m {
        padding-left: 46px;
        padding-right: 46px;
      }
    }

    .modal__add {
      padding-left: 127px;
      padding-right: 128px;
    }
  }
}

@media (min-width: 1250px) {
  .modal {
    top: 90px;
    left: 430px;
    z-index: 3;
  }

  .modal__close {
    left: 530px;
  }
}
