.modal {
  margin-top: 35px;
  border: 1px solid red;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;

  .modal__wrapper {
    border: 1px solid green;
    .indent-mobile();
  }

  .modal__title {
    color: @black;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .modal__text {
    color: @dingy;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
  }

  .modal__value {
    color: @dingy;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
  }
}
