.page-footer {
  display: flex;
  flex-direction: column;
  background: @smoky;

  .page-footer__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
  }

  .page-footer__logo {
    &--text {
      font-size: 0;
    }

    &:hover,
    &:focus {
      fill: @email-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 768px) {
  .page-footer {
    padding-bottom: 30px;

    .page-footer__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }
  }
}

@media (min-width: 1250px) {
  .page-footer {
    .page-footer__wrapper {
      width: 1250px;
      .indent-desktop();
    }
  }
}
