.page-header {

  background: @white;
  border: 1px solid red;

  .page-header__wrapper {
    border: 1px solid green;
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
  }

  .page-header__logo {
    padding-left: 85px;
  }
}
