.page-title {
  background: @smoky;

  .page-title__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    margin-top: -19px;
  }

  .page-title__title {
    color: @black;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    padding-top: 71px;
    padding-left: 7px;
    padding-bottom: 76px;
  }
}

@media (min-width: 768px) {
  .page-title {
    margin-top: -82px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 215px;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat-x: repeat;
      background-size: 768px 24px;
    }

    .page-title__wrapper {
      width: 768px;
      .indent-tablet();
    }

    .page-title__title {
      font-size: 43px;
      line-height: 50px;
      padding-top: 94px;
      padding-left: 136px;
      padding-bottom: 80px;
    }
  }
}

@media (min-width: 1250px) {
  .page-title {
    margin-top: -88px;

    &::after {
      top: 238px;
      left: 0;
      height: 34px;
      background-repeat-x: repeat;
      background-size: 1150px 34px;
    }

    .page-title__wrapper {
      width: 1250px;
      padding-left: 225px;
      padding-right: 225px;
    }

    .page-title__title {
      font-size: 53px;
      line-height: 57px;
      padding-top: 94px;
      padding-left: 158px;
      padding-bottom: 100px;
    }
  }
}
