.page-title {
  .page-title__wrapper {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    background: @smoky;
    margin-top: -19px;
  }

  .page-title__title {
    color: @black;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    padding-top: 71px;
    padding-left: 7px;
    padding-bottom: 76px;
  }

  @media (min-width: 768px) {
    .page-title__wrapper {
      width: 768px;
      .indent-tablet();
    }

    .page-title__title {
      width: 400px;
      font-size: 43px;
      line-height: 50px;
    }
  }

  @media (min-width:1250px) {
    .page-title__wrapper {
      width: 1250px;
      padding-left: 225px;
      padding-right: 225px;
    }
  }
}
