.page-header {
  background: @white;
  padding-top: 22px;
  padding-bottom: 11px;

  .page-header__main-nav {
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
}

@media (min-width: 768px) {
  .page-header {
    .page-header__main-nav {
      width: 768px;
      .indent-tablet();
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

@media (min-width: 1250px) {
  .page-header {
    padding-top: 0;

    .page-header__main-nav {
      width: 1250px;
      .indent-desktop();
    }
  }
}
