.reviews {
  background: @white;
  padding-bottom: 90px;
  color: @black;
  border: 1px solid red;

  .reviews__wrapper {
    border: 1px solid green;
    width: 320px;
    box-sizing: border-box;
    margin: 0 auto;
    .indent-mobile();
  }

  .reviews__title {
    margin: 0;
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  .reviews__item {
    margin: 0;
    margin-bottom: 45px;
  }

  .reviews__text {
    margin: 0;
    margin-bottom: 35px;
    color: @dingy;
    font-size: 15px;
    line-height: 30px;
  }

  .reviews__author-name {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__nickname {
    color: @black;
    text-decoration: none;
    font-weight: normal;
  }

  .reviews__button {
    margin-bottom: 45px;
    width: 100px;
  }

  .reviews__write {
    text-transform: uppercase;
    text-decoration: none;
    color: @dingy;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: 768px) {
    .reviews__wrapper {
      width: 768px;
      .indent-tablet();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .reviews__title {
      order: 1;
    }

    .reviews__write {
      order: 2;
    }

    .reviews__item {
      order: 3;
      border: 1px solid pink;
    }

    .reviews__switch {
      order: 4;
      border: 1px solid green;
      margin-top: -100px;
      margin-left: 459px;
    }

    .reviews__author {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: 1250px) {
    .reviews__wrapper {
      width: 1250px;
      padding-left: 275px;
      padding-right: 275px;
    }

    .reviews__switch {
      margin-left: 491px;
    }
  }
}
