.video {
  .video__wrapper {
    padding-bottom: 58px;
  }

  .video__caption {
    box-sizing: border-box;
    margin: 0;
    padding-left: 89px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 10px;
    border: 1px solid @silver;
    border-bottom: none;
  }

  .video__content {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }

  .video__picture {
    width: 259px;
    height: auto;
  }

  .video__play {
    position: absolute;
    top: 36px;
    left: 79px;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.3;
    }
  }

  .video__description {
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 33px;
    padding-right: 34px;
    padding-top: 15px;
    border: 1px solid @silver;
    border-top: none;
    padding-bottom: 33px;
    margin-top: -4px;
  }

  .video__title {
    color: @black;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 32px;
      height: 32px;
      left: -56px;
      top: 6px;
      background: url("../img/icon-video.svg") no-repeat 50% 50%;
    }
  }

  .video__text {
    color: @dingy;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 13px;
  }

  .video__order {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
  }
}

@media (min-width: 768px) {
  .video {
    .video__wrapper {
      display: flex;
      flex-direction: column;
      margin-top: -3px;
      padding-bottom: 65px;
    }

    .video__caption {
      padding-left: 104px;
      padding-right: 50px;
      padding-top: 23px;
      margin-bottom: -20px;
      margin-top: -4px;
    }

    .video__title {
      font-size: 20px;

      &::after {
        left: -64px;
        top: -5px;
      }
    }

    .video__content {
      order:-1;
      padding-left: 0;
      padding-right: 0;
      width: 668px;

    }

    .video__play {
      top: 190px;
      left: 283px;
    }

    .video__description {
      padding-left: 38px;
      padding-right: 44px;
      border-top: none;
      padding-bottom: 45px;
    }

    .video__picture {
      width: 668px;
      height: auto;
    }

    .video__text {
      font-size: 15px;
      line-height: 30px;
      padding-bottom: 21px;
    }

    .video__order {
      margin-left: 3px;
      margin-right: -2px;
    }
  }
}

@media (min-width: 1250px) {
  .video {
    .video__wrapper {
      width: 1049px;
      box-sizing: border-box;
      margin: 0 auto;
      position: relative;
      padding-bottom: 2px;
      margin-bottom: 103px;
      border: 1px solid @silver;
    }

    .video__content {
      margin-left: 0;
    }

    .video__picture {
      width: 682px;
      height: 455px;
    }

    .video__description {
      width: 366px;
      margin-left: 681px;
      padding-right: 50px;
      margin-top: -459px;
      padding-top: 162px;
      padding-bottom: 10px;
      border: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      &:hover {
        box-shadow: 0px 6px 10px 0px rgba(0, 1, 1, 0.1);
      }

      &:active {
        box-shadow: 0px 3px 5px 0px rgba(0, 1, 1, 0.1);
      }
    }

    .video__caption {
      width: 368px;
      left: 680px;
      top: 5px;
      position: absolute;
      border: 0;
    }

    .video__title {
      margin-bottom: 54px;
      padding-top: 54px;
      margin-left: -25px;

      &::after {
        left: 2px;
        top: 1px;
      }
    }

    .video__text {
      padding-bottom: 31px;
      margin-left: 41px;
    }

    .video__order {
      margin-bottom: 50px;
      margin-left: 43px;
      padding-right: 3px;
      margin-right: 6px;
    }

    .video__play {
      left: 292px;
    }
  }
}
