@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff2") format("woff");
}

body {
  font-family: "OpenSans", Arial, sans-serif;
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: @black;
}

.sprite {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  display: block;
  border: 2px solid @black;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: @dingy;
  cursor: pointer;

  &:hover {
    border: 2px solid @dingy;
    background-color: @dingy;
    color: @white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
