.goods{
  padding-bottom: 70px;
}
.goods__header {
  background: #a5c1c0 url(/img/hero-mobile@1x.jpg) no-repeat 50% 50%;
  .indent();
}
.goods__caption {
  color: #010000;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0px;
  padding-top: 85px;
  padding-bottom: 105px;
}
.goods__range {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}
.goods__item {
  list-style: none;
  background: #63d1bb;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
}
.goods__item--second {
  background: #56c3b2;
}
.goods__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
}
